# Environment variables
.env
.env.local

# Node modules
node_modules

# VSCode
.vscode

# Logs
logs
*.log
*.log.*
*.log.*.*

#temp
temp
*.temp
*.temp.*
*.temp.*.*

#dist
dist/
*.dist
*.dist.*
*.dist.*.*

#config
config/
*.config
*.config.*
*.config.*.*

